Digital_description_of_the_type.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="uid"/>  <!-- Уникальный идентификатор типа СИ -->
				<xs:element type="xs:string" name="NameType"/>  <!-- Наименование типа СИ -->
				<xs:element type="xs:string" name="Type"/>  <!-- Тип СИ -->
				<xs:element type="xs:string" name="GosNumber"/>  <!-- Регистрационный номер типа СИ -->
				<xs:element type="xs:string" name="ManufacturerName"/>  <!-- Изготовитель -->
				<xs:element type="xs:string" name="CountryISO"/>  <!-- Код страны -->
				<xs:element type="xs:string" name="Purpose"/>  <!-- Назначение -->
				<xs:element type="xs:string" name="Description"/>  <!-- Описание -->
				<xs:element maxOccurs="unbounded" name="Modifications">  <!-- Комбинации модификацй -->
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="uid"/>  <!-- Уникальный идентификатор модификации -->
							<xs:element type="xs:string" name="CategoryID"/>  <!-- ID типовой формы -->
							<xs:element type="xs:string" name="CategoryName"/>  <!-- Наименование типовой формы -->
							<xs:element type="xs:string" name="NameType"/>  <!-- Наименование типа СИ -->
							<xs:element type="xs:string" name="Type"/>  <!-- Тип СИ -->						
							<xs:element type="xs:string" name="GosNumber"/>  <!-- Регистрационный номер типа СИ -->
							<xs:element type="xs:string" name="Modification"/>  <!--Модификация -->
							<xs:element type="xs:string" name="Implementation"/>  <!--Код исполнения -->
							<xs:element type="xs:string" name="ManufacturerName"/>  <!-- Изготовитель -->
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="Parameters">  <!-- Параметры -->
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="ParameterID"/>   <!-- Уникальный идентификатор номер параметра -->
							<xs:element type="xs:string" name="ParameterSectionNameID"/>
							<xs:element type="xs:string" name="ParameterSectionName"/>
							<xs:element type="xs:string" name="ParameterName"/>
							<xs:element type="xs:string" name="ParameterDetailName"/>
							<xs:element type="xs:string" name="MeasurementName"/>
							<xs:element type="xs:string" name="MeasurementGroupCode"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element maxOccurs="unbounded" name="Values"> <!-- Значения параметров -->
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DeviceID" type="xs:string"/>
							<xs:element name="ParameterID" type="xs:string"/>
							<xs:element name="Value" type="xs:string"/>
							<xs:element name="uid" type="xs:string"/>
							<xs:element name="ValueID" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
