Digital_description_of_the_type.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="uid"/>
                <xs:element type="xs:string" name="Title"/>
                <xs:element type="xs:string" name="Name"/>
                <xs:element type="xs:string" name="GosNumber"/>
                <xs:element type="xs:string" name="ManufacturerName"/>
                <xs:element type="xs:string" name="CountryISO"/>
                <xs:element type="xs:string" name="CountryName"/>
                <xs:element maxOccurs="unbounded" name="Devices">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="uid"/>
                            <xs:element type="xs:string" name="CategoryName"/>
                            <xs:element type="xs:string" name="MitypeTitle"/>
                            <xs:element type="xs:string" name="MitypeNumber"/>
                            <xs:element type="xs:string" name="MitypeType"/>
                            <xs:element type="xs:string" name="Modification"/>
                            <xs:element type="xs:string" name="Implementation"/>
                            <xs:element type="xs:string" name="ManufacturerName"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="Parameters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="ParameterID"/>
                            <xs:element type="xs:string" name="ParameterSectionName"/>
                            <xs:element type="xs:string" name="ParameterName"/>
                            <xs:element type="xs:string" name="ParameterDetailName"/>
                            <xs:element type="xs:string" name="MeasurementName"/>
                            <xs:element type="xs:string" name="MeasurementGroupCode"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
